<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861842226929-rjdegku4oeva6keg9jitt1nk452drapd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861842226929-rjdegku4oeva6keg9jitt1nk452drapd</string>
	<key>API_KEY</key>
	<string>AIzaSyBmvgyKLSX-xC13fV4aQRzK-VzXxS2u-eY</string>
	<key>GCM_SENDER_ID</key>
	<string>861842226929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pulley</string>
	<key>PROJECT_ID</key>
	<string>pulley-4d7e0</string>
	<key>STORAGE_BUCKET</key>
	<string>pulley-4d7e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861842226929:ios:6d5a792189b18054e6b350</string>
</dict>
</plist>